<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="Token" value="BHBV8BcpZ7BMFxJp3eFoS31I"/>
    <add key="CorpID" value="wxd108e1a8668594b5"/>
    <add key="EncodingAESKey" value="fgGq5R80HxBoRPQa3Kd6Mo8rAamImZxkTDwKsTD9uPA"/>
    <add key="Secret" value="c8bWAyYA4P1eJVggsUh2Gri5BGI1izjzjnFk3XEV0WWtEah9QHjcC2FrXO_tdIjj"/>
    <add key="AppID" value="6"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
