<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Token" value="BHBV8BcpZ7BMFxJp3eFoS31I"/>
    <add key="CorpID" value="wxd108e1a8668594b5"/>
    <add key="EncodingAESKey" value="fgGq5R80HxBoRPQa3Kd6Mo8rAamImZxkTDwKsTD9uPA"/>
    <add key="Secret" value="c8bWAyYA4P1eJVggsUh2Gri5BGI1izjzjnFk3XEV0WWtEah9QHjcC2FrXO_tdIjj"/>
    <add key="AppID" value="6"/>
    <!--语言（MP需要设置） 0：简体中文、1：繁体中文、2：英文-->
    <add key="Language" value="0"/>
  </appSettings>
</configuration>